body {
  background-color: whitesmoke;
  color: #130303;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header {
  align-self: center;
}
.intro {
  align-self: center;
  padding: 3%;
}

.formNScore {
  display: flex;
  flex-direction: row;
  color: whitesmoke;
  background-color: #00120b;
  height: 25em;
  opacity: 0.8;
  border-radius: 5px 5px;
}

.formCont {
  display: flex;
  justify-content: center;
}

.form {
  align-self: center;
  padding: 10%;
  padding-left: 2%;
  width: 70%;
  border-radius: 5px 5px;
}

.scoresCont {
  display: flex;
  justify-content: center;
  padding: 5%;
  width: 50%;
}

button {
  width: 20%;
  /* padding: 2%; */
  font-size: 10px;
  border-radius: 5px 5px;
  background-color: whitesmoke;
  color: #130303;
}

button:hover {
  background-color: #130303;
  color: whitesmoke;
}

input {
  padding: 2%;
  margin: 3%;
  width: 100%;
  font-size: 14px;
  border-radius: 5px 5px;
}

.progress-div {
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
}

.progress {
  background-color: rgb(62, 122, 235);
  height: 10px;
  border-radius: 1rem;
  transition: 1s ease;
  transition-delay: 0.5s;
}
